body {
	margin: 0;
	padding: 0;
	background-color: #222222;
	font-family: "LM Roman", "Georgia", "Palatino Linotype", "Palatino", "Times New Roman", "Times", serif;
	color: #FFFFFF;
}

a {
	color: white;
	text-decoration: none;
}
a:hover {
	/* color: yellow; */
}

.title, .title:hover {
	font-size: medium;
	padding: 0.4em;
	font-weight: bold;
	line-height: 1.3em;
	text-align: left;
	cursor: default;
	word-wrap: break-word;
}

.fullScreen .title {
	display: none;
}

#media-view .title, #album-and-media-container.show-media #album-view {
	z-index: -1;
}

#album-view .title {
	padding-left: 0;
	padding-top: 0;
}

#album-view .title.hidden {
	padding: 0;
}

.title-count {
	font-size: 80%;
	font-style: italic;
	font-weight: normal;
	opacity: 0.7;
	filter: alpha(opacity=70); /* For IE8 and earlier */
}

.title-count-detail {
	cursor: pointer;
}

#fullscreen-wrapper:not(.hide-geotagged) .title .hidden-geotagged-media,
#fullscreen-wrapper.hide-geotagged .gps,
#fullscreen-wrapper.hide-geotagged .all-gps {
	display: none;
}

#fullscreen-wrapper:not(.hide-geotagged) .non-gps {
	display: none;
}

.hidden-geotagged-media {
	color: black;
	background-color: red;
	cursor: pointer;
}

.hidden, .hidden-by-option,
.hidden-by-pinch,
.hidden-by-no-results,
.hidden-by-button,
.hidden-by-map,
.hidden-by-menu-selection {
	display: none !important;
}

#fullscreen-wrapper.fullScreen #album-and-media-container.show-media #thumbs,
#fullscreen-wrapper.fullScreen .title,
#fullscreen-wrapper:not(.fullScreen) #slideshow-buttons {
	display: none;
}

img.title-img {
	padding-right: .5em;
}

img.thumbnail-img {
	padding-left: .5em;
}

.title-anchor,
.title-no-anchor,
.search-link,
.folder-name img {
	padding: 0 .5em;
}

.first-line, .second-line {
	line-height: 150%;
}

.media-name .first-line,
.media-name .second-line {
	display: inline-block;
}

.second-line {
	font-size: 75%;
	margin-top: 5px;
	line-height: 150%;
}

.gray {
	font-size: 95%;
	color: gray;
}

#popup-images-wrapper .gray {
	color: darkslategray;
}

.separated {
	padding-left: .6em;
	padding-right: .6em;
}

.title-anchor.italic {
	font-style: italic;
}

.italic {
	font-style: italic;
	/* color: gray; */
}

.normal {
	font-style: normal;
	/* color: gray; */
}

.dots-surroundings {
	display: none;
}

.messages .browsing-mode-message {
	display: none;
}

#file-name-for-adding-to-zip {
	font-size: 20%;
	line-height: 2em;
}

#please-fill {
	display: none;
	color: red;
	background-color: yellow;
	margin-left: auto;
	margin-right: auto;
	padding: ,2em;
	padding-left: 1em;
	padding-right: 1em;
	font-weight: bold;
	font-size: 125%;
}

.space-before {
	margin-left: 1em;
	margin-top: .8em;
	display: inline-block;
}

#album-view {
	position: absolute;
	padding: .5em;
}

#thumbs {
	clear: both;
}

#album-and-media-container:not(.show-media) #thumbs {
	padding-top: 1em;
}

#thumbs img {
	border: 0;
}

.thumb-and-caption-container {
	/* border-top: 4px solid #222222 !important;
	border-bottom: 4px solid #222222 !important; */
	margin-top: 0;
}

.thumb-container.current-thumb {
	border-top: 6px solid #FFAD27 !important;
	margin-top: 0;
}

#subalbums {
	padding-top: .2em;
	padding-bottom: 1em;
	overflow: hidden;
}

.album-button-and-caption {
	float: left;
	height: 250px;
	width: 200px;
	cursor: pointer;
	border: 1px solid white;
}

.album-button-and-caption.slide {
	border: 3px solid gray;
	border-left-color: whitesmoke;
	border-top-color: whitesmoke;
}

.album-button-and-caption.slide:hover {
	border: 3px solid gray;
	border-right-color: whitesmoke;
	border-bottom-color: whitesmoke;
}
.album-caption {
	margin: 0 auto;
	height: auto;
	color: white;
	font-size: inherit;
	padding-top: .2em;
}

.album-caption a {
	color: inherit;
}

.album-caption-count {
	margin-top: .2em;
	text-align: center;
	opacity: 0.7;
	filter: alpha(opacity=70); /* For IE8 and earlier */
	font-size: 80%;
	margin-bottom: .8em;
}

.album-description, .media-description {
	font-style: italic;
	padding-left: .7em;
	padding-right: .7em;
}

.media-description {
	text-align: left;
}

.album-description {
	line-height: 1.1em;
}

.album-tags,
.album-caption-count,
.album-description {
	margin-top: .5em;
}

p.description-p,
p.description-p ul {
	margin-top: .1em;
	margin-bottom: 0;
}
.description ul {
	padding-inline-start: 1.5em;
}

.ellipsis {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	text-align: center;
}


/* this class is needed in order to get the thumbnails vertically centered,
 * see https://stackoverflow.com/questions/7273338/how-to-vertically-align-an-image-inside-a-div#7310398*/
.helper {
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}
.album-button {
	border: 1px solid lightgray;
	border-right-color: whitesmoke;
	border-bottom-color: whitesmoke;
	white-space: nowrap;
	text-align: center;
	float: left;
	display: block;
	height: 200px;
	text-align: center;
	font-style: italic;
	font-size: 90%;
	background-color: inherit;
	margin: 0 auto;
	line-height: 1.1em;
	position: relative;
}

.album-button-and-caption.slide:hover .album-button {
	border-left-color: whitesmoke;
	border-top-color: whitesmoke;
	border-right-color: lightgray;
	border-bottom-color: lightgray;
}

.album-button-and-caption:hover,
.thumb-and-caption-container:hover .thumb-container {
	opacity: 1;
	filter: alpha(opacity=100); /* For IE8 and earlier */
}

.album-button img,
.thumb-container img {
	vertical-align: middle;
	max-width: 100%;
	max-height: 100%;
	height: auto;
}

#thumbs .thumb-container img.thumbnail {
/*
	do not remove, useful for debugging purpose
*/
}

.album-button-random-media-link,
#thumbs .thumbnail-map-link,
#subalbums .thumbnail-map-link,
#thumbs .select-box,
#subalbums .select-box,
#media-select-box .select-box,
#popup-images-wrapper .select-box {
	position: absolute;
	filter: alpha(opacity=30); /* For IE8 and earlier */
}

.album-button-random-media-link {
	opacity: .3;
	top: 5px;
	left: 5px;
	height: 30px;
}

#request-password:hover {
	color: black;
	background-color: white;
}

#thumbs .thumbnail-map-link,
#subalbums .thumbnail-map-link,
#thumbs .select-box,
#subalbums .select-box,
#media-select-box .select-box,
#popup-images-wrapper .select-box {
	opacity: .3;
	height: 30px;
	cursor: pointer;
	z-index: 1;
}

#thumbs .thumbnail-map-link,
#subalbums .thumbnail-map-link {
	top: 5px;
	right: 5px;
}

#thumbs .select-box,
#subalbums .select-box,
#media-select-box .select-box,
#popup-images-wrapper .select-box {
	bottom: 5px;
	left: 5px;
}

#media-select-box .select-box {
	position: fixed;
}

#thumbs .thumbnail-map-link:hover,
#subalbums .thumbnail-map-link:hover,
#thumbs .select-box:hover,
#subalbums .select-box:hover,
#media-select-box .select-box:hover {
	opacity: 1;
}

.album-button-random-media-link:hover,
.thumbnail-map-link:hover,
#thumbs .select-box:hover,
#subalbums .select-box:hover,
#media-select-box .select-box:hover {
	opacity: .6;
	filter: alpha(opacity=100); /* For IE8 and earlier */
}

#next, #prev {
	position: absolute;
	width: auto;
	height: auto;
	opacity: 0.35;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=35)";
	filter: alpha(opacity=35);
}

#prev {
	left: 0;
}

#next {
	right: 0;
}

#next:hover, #prev:hover {
	cursor: pointer;
	opacity: 0.7;
}

#pinch-container {
	/* top: 15px;
	bottom: unset;
	left: unset;
	right: 15px; */
	position: absolute;
	z-index: 10;
	width: 30px;
	height: 62px;
}

img.pinch {
	background-color: black;
	opacity: 0.4;
	cursor: pointer;
	position: relative;;
}

img.pinch:hover {
	opacity: 0.7;
}

img.pinch.disabled {
	opacity: 0.1;
	cursor: default;
}

.media-box {
	display: block;
	float: left;
	position: relative;
}

#media-view {
	position: absolute;
	overflow: hidden;
	/* margin-bottom: 8px; */
	left: 0;
	right: 0;
	text-align: center;
	/* z-index: -1; */
	width: 100%;
	cursor: ew-resize;
}

#media-box-container {
	/* float: left; */
	/* display: inline; */
	transition-property: transform;
	transition-timing-function: ease-out;
	transform: translate(0px, 0px);
	transition-duration: 0s;
	overflow: hidden;
}

video {
	cursor: default;
}

#media-view.no-bottom-space {
/*
	bottom: 0 !important;
*/
	bottom: 0;
}

.media-box-inner {
	display: block;
	position: relative;
}

.media-box-inner img,
.media-box-inner video {
	max-height: 100%;
	max-width: 100%;
	width: auto;
	height: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

#album-view.no-bottom-space {
	height: 0;
	bottom: 1em;
}

#album-and-media-container.show-media #album-view {
	position: absolute;
	width: 100%;
	bottom: 0;
	top: auto !important;
	overflow-x: auto;
	overflow-y: hidden;
	white-space: nowrap;
	padding: 0 !important;
	text-align: center;
}

#album-and-media-container.show-media #subalbums,
#album-and-media-container.show-media.one-media #thumbs,
#album-and-media-container.show-media .media-caption,
#media-view.one-media #next,
#media-view.one-media #prev {
	display: none;
}

#album-and-media-container.show-media #album-view.no-bottom-space {
	height: 0;
	bottom: 15px;
}

.media-bar {
	position: sticky;
	bottom: 0;
	width: 100%;
	text-align: center;
	display: none;
}

#fullscreen-wrapper.fullScreen .media-bar {
	display: none !important;
}

.links {
	background-color: #000000;
	font-weight: bold;
	height: 10px;
	font-size: 80%;
	line-height: 7px;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-right: 10px;
	padding-left: 10px;
	display: none;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	-moz-border-top-right-radius: 5px;
	-moz-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-top-left-radius: 5px;
	cursor: pointer;
}

.links.hidden {
	display: none !important;
}

.link-button {
	white-space: nowrap;
}

.metadata {
	background-color: #000000;
	width: 340px;
	font-size: 75%;
	line-height: 1em;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-right: 10px;
	padding-left: 10px;
	display: none;
	margin: 0 auto;
	margin-top: 1px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	-moz-border-top-right-radius: 5px;
	-moz-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-top-left-radius: 5px;
	opacity: 0.5;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	overflow: auto;
}
.metadata table {
	margin: auto auto;
	text-align: left;
	cursor: s-resize;
}
.metadata tr {
	height: 14px;
}

.metadata tr.gps {
	cursor: pointer;
}

.metadata-hide {
	display: none;
}

.album-button-and-caption .album-tags,
.thumb-and-caption-container .media-tags {
	text-align: center;
}

.album-button-and-caption .tags {
	font-size: 100%;
}

.thumb-and-caption-container .tags {
	font-size: 80%;
}

.tag {
	font-style: italic;
	font-variant: small-caps;
}

.tag a {
	color: inherit;
}

.tag a:hover {
	font-style: normal;
	font-weight: bold;
}

.leaflet-popup .thumb-and-caption-container .tag a {
	color: yellow;
}

#description-wrapper {
	position: fixed;
	z-index: 1;
	/*top: 80%;*/
	/*bottom: 20px;*/
	right: 20px;
	opacity: 0.3;
	filter: alpha(opacity=50); /* For IE8 and earlier */
	width: fit-content;
	max-width: 30%;
	overflow-y: hidden;
	word-wrap: break-word;
	line-height: 1em;
}

/* #description-wrapper.no .description-wrapper {
	display: none;
} */

#description-wrapper .description-wrapper-label {
		/* border: 1px white solid; */
		font-size: 70%;
		font-style: italic;
		width: fit-content;
		padding: 0.4em;
		padding-left: 0.7em;
		padding-right: 0.7em;
		text-align: center;
		float: right;
		background-color: orange;
		color: black;
		margin-left: 0.4em;
		margin-bottom: 0.2em;
}

#description-wrapper .description-wrapper {
		border: 2px white solid;
		width:auto;
}

#description-wrapper .description {
	padding: 0.6em 0.3em 0.2em 0.3em;
	border: 1px white solid;
	background-color: #222222;
	/* float: right; */
}

#description-hide-show {
	/* position: absolute; */
	bottom: 0;
	right: 0;
	font-size: 80%;
	width: fit-content;
	height: fit-content;
	background-color: #222222;
	display: block;
	float: right;
}

#description-wrapper .description-tags {
	/* position: absolute; */
	bottom: 0;
	right: 0;
	padding: .3em;
	background-color: black;
	/* width: fit-content; */
	height: fit-content;
	font-size: 85%;
	/* border: 1px white solid; */
}

#description-show, #description-show-1 {
	display: none;
	border: 1px white solid;
	opacity: .4;
}

#description-hide-show .description-hide-show {
	cursor: pointer;
	border-top: 2px white solid;
	border-right: 2px white solid;
	border-left: 1px white solid;
	border-bottom: 1px white solid;
	padding: 3px;
}

#description-wrapper .description,
#description-wrapper .description-title,
#description-wrapper .description-text,
#description-wrapper .description-tags {
	height: fit-content;
	display: block;
}

#description-wrapper .description-title {
	top: 0;
	font-weight: bold;
	padding: 0 0.3em 0.4em 0.3em;
}

#description-wrapper .description-text {
	overflow-y: auto;
	padding: 0.3em;
	/* padding-top: .3em;
	padding-bottom: .3em; */
	/* color: #FFAD27; */
}

#description-wrapper .description-title p,
#description-wrapper .description-text p,
#description-wrapper .description-text ul {
	color: #FFFFFF;
	margin-bottom: 0.3em;
	margin-top: 0.3em;
}

.exit-fullscreen {
	display: none;
}
.enter-fullscreen:not(.shortcut-help) {
	display: inline;
}

.menu-divider {
	padding-left: .5em;
	padding-right: .5em;
}

#powered-by {
	clear: both;
	text-align: center;
	font-size: 0.85em;
	font-style: italic;
	font-weight: bold;
	text-shadow: rgba(0,0,0,0.5) -1px 0, rgba(0,0,0,0.3) 0 -1px, rgba(255,255,255,0.5) 0 1px, rgba(0,0,0,0.3) -1px -2px;
	color: #FFAD27;
	margin-top: 20px;
}

.error, .browsing-mode-message,
.sort-message,
.selection-message,
#error-overlay,
#auth-text,
.search-failed,
.messages {
	position: fixed;
	top: 0;
	/* left: 0; */
	/* width: 100%;
	height: 100%; */
	display: none;
	height: auto;
	padding: 15px;
	left: 5%;
	right: 5%;
	width: 85%;
	border: 10px solid lightgray;
	margin: 0 auto;
}

#downloading-and-zipping {
	display: none;
}

#preparing-zip-closing {
	font-size: 70%;
}

.error,
.browsing-mode-message,
.sort-message,
.selection-message,
#auth-text,
.search-failed,
.messages {
	margin-top: 20%;
	text-align: center;
}

#contextual-help {
	margin-top: 40px;
}

#contextual-help .italic {
	font-style: italic;
	white-space: nowrap;
}

#contextual-help .bold {
	font-weight: bolder;
	color: yellow;
	font-size: 120%;
}

.error,
.browsing-mode-message,
.sort-message,
.selection-message,
.search-failed,
.messages {
	font-size: 4em;
	font-weight: bold;
	font-style: italic;
}

#you-can-suggest-photo-position.messages {
	font-size: 2em;
}

.browsing-mode-message,
.sort-message,
.selection-message,
.messages {
	background-color: black;
	z-index: 1000;
	height: auto;
	opacity: .6;
}
#error-overlay {
	background-color: #000000;
}
#auth-text {
	z-index: 2000;
	border: 2px solid white;
	height: auto;
	padding: 1em;
	width: 95%;
	background-color: black;
	opacity: .6;
}
#auth-question, #enter-your-data {
	font-size: 3em;
	margin-bottom: 1em;
}

#auth-text input {
	color: rgb(0, 0, 0);
	background-color: rgb(200, 200, 200);
	border: 0;
	font-family: inherit;
	font-size: 2em;
	font-weight: bold;
	margin-right: auto;
	margin-left: auto;
	padding: .1em;
	caret-color: red;
}

#request-password {
	cursor: pointer;
}

#password-request-form {
	display: none;
}

#email-not-sent .little {
	font-size: 30%;
}

#started-slideshow .smaller {
	font-size: 70%;
	font-style: normal;
}

#slideshow-buttons {
	position: absolute;
	width: fit-content;
}

.slideshow-button {
	width: fit-content;
	display: none;
	border: 3px solid white;
	padding: 3px;
	opacity: 0.5;
	cursor: pointer;
	float: left;
}

#started-slideshow-interval-wrapper {
	display: inline-flex;
	width: fit-content;
}

#started-slideshow-interval {
	float: left;
	padding-right: 8px;
}

#started-slideshow-speed-up,
#started-slideshow-slow-down {
	padding-left: 5px;
	padding-right: 5px;
	border: none;
	background-color: white;
	color: black;
	font-weight: bolder;
	padding-top: 0;
	padding-bottom: 0;
	text-align: center;
}

#started-slideshow-interval,
#started-slideshow-speed-up,
#started-slideshow-slow-down {
	font-size: 108%;
}

#started-slideshow-slow-down {
	margin-right: 3px;
}

#started-slideshow-stop,
#started-slideshow-pause,
#started-slideshow-play,
#started-slideshow-orientation-auto {
	padding: 0;
}

#started-slideshow-stop img,
#started-slideshow-pause img,
#started-slideshow-play img {
	height: 21px;
	width: 26px;
}

#started-slideshow-orientation-auto img {
	height: 21px;
	width: 26px;
}

#media-box.rotation .media-box-inner img,
.rotate-90 {
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
}

#started-slideshow-orientation-auto.active {
	background-color: gray;
}

#message-too-many-images {
	font-size: 1em;
	font-weight: bold;
	font-style: italic;
	display: none;
}

#show-hide-them {
	font-weight: bold;
	font-style: normal;
	cursor: pointer;
}

#show-hide-them:hover {
	color: orange;
}

.video-unsupported {
	background-image: url(../img/video-unsupported.png);
	background-position: top center;
	background-repeat: no-repeat;
	padding-top: 96px;
}

.album-name, .media-name {
	padding: .5em;
	margin: 0 0 0 0;
	font-weight: bold;
	font-size: 110%;
	font-style: italic;
}

/* .leaflet-popup .media-name {
	color: white;
} */

.real-name {
	padding: 0;
	font-size: 80%;
}

.media-description {
	font-size: 95%;
}

.leaflet-popup .media-description {
	color: white;
	text-align: center;
}

.album-caption .description {
	font-size: 90%;
}

.thumb-and-caption-container {
	margin-bottom: 0;
	display: inline-grid;
}

.thumb-and-caption-container.highlighted-object .media-caption,
.album-button-and-caption.highlighted-object .album-caption,
#right-and-search-menu div.highlighted-menu .caption,
#right-and-search-menu li:not(.expandable).highlighted-menu,
#right-and-search-menu li.highlighted-menu .caption,
#right-and-search-menu ul ul li.highlighted-menu,
#menu-icon.expanded,
#search-icon.expanded,
#slideshow-icon.expanded {
	background-color: orange !important;
}

#search-menu form {
	display: inline-table;
}

#right-and-search-menu li.highlighted-menu .caption,
#right-and-search-menu ul ul li.highlighted-menu,
.highlighted-object .album-name[style],
.highlighted-object .real-name[style],
.highlighted-object .media-name[style],
.highlighted-object .description,
.highlighted-object .tags,
.highlighted-object .tag a,
.highlighted-object .album-caption-count,
.highlighted-object .title-media,
.highlighted-object .second-line .gray,
.highlighted-object .second-line a {
	color: black !important;
}

.thumb-container {
	position: relative;
	top: 0;
	white-space: nowrap;
	text-align: center;
}
.media-caption, .album-caption {
	display: block;
	text-align: center;
	overflow: hidden;
	padding: 0 .2em;
	margin-bottom: .2em;
	clear: both;
}

.media-caption {
	padding: .4em;
}

.media-caption.hidden,
.album-caption.hidden {
	margin-bottom: 0;
}

.media-caption {
	font-size: 75%;
	white-space: normal;
}

.media-caption-coordinates {
	font-size: 70%;
}


.media-box .map-link {
	cursor: pointer;
}

#thumbs + a {
	display: inline-flex;
	text-decoration: none;
	cursor: pointer;
}

.sort img.opaque {
/*
	opacity: 0.25;
*/
	display: none;
	cursor: default;
}

/* .sort {
	display: none;
	white-space: nowrap;
} */

#social, #social:hover {
	opacity: 0.45;
	position: absolute;
	z-index: 1000;
}

#social:hover {
	opacity: 1;
}

#media-name-second-part,
#album-name-second-part {
	display: none;
}

.with-second-part:hover #media-name-second-part,
.with-second-part.hovered #media-name-second-part {
	display: inline;
	font-size: 80%;
	font-variant: small-caps;
}

/****************************/
/* right menu */

#right-and-search-menu {
	list-style-type: none;
	list-style: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	float: right;
	max-width: 20em;
	position: fixed;
	top: 0;
	right: 0;
	z-index: 200;
	/* cursor: default; */
}

#right-and-search-menu li {
	/* padding: 0 .5em; */
	/* cursor: pointer; */
	font-size: 90%;
}
#right-and-search-menu.expanded #search-field {
	min-width: 14em;
}

/* #right-and-search-menu li.caption, #right-and-search-menu li:not(.active) {
	cursor: default;
} */

#right-and-search-menu li ul li.radio.active:not(.selected),
#right-and-search-menu li ul li:not(.radio) {
	cursor: pointer;
}

#right-and-search-menu #menu-icon:hover,
#right-and-search-menu #search-icon:hover,
#right-and-search-menu #slideshow-icon:hover,
#right-and-search-menu .info-icon:hover {
	background-color: transparent;
}

#right-and-search-menu:not(.expanded) li {
	display: none !important;
}

#right-and-search-menu #search-icon,
#right-and-search-menu #slideshow-icon {
	height: 20px;
}

#right-and-search-menu #search-icon:hover,
#right-and-search-menu #search-icon.expanded,
#right-and-search-menu #slideshow-icon:hover,
#right-and-search-menu #slideshow-icon.expanded {
	height: 30px;
}

#right-and-search-menu.expanded li {
	float: none;
	text-align: right;
}

#right-and-search-menu.expanded li {
	padding: .1em 0;
}

#right-and-search-menu #menu-icon,
#right-and-search-menu #search-icon,
#right-and-search-menu #slideshow-icon,
#right-and-search-menu .info-icon {
	float: right;
	display: list-item;
}

#search-menu {
	margin-right: 33px;
}

#right-and-search-menu #padlock {
	display: list-item;
	float: right;
	padding: 0;
	cursor: pointer;
}

#right-and-search-menu.expanded {
	background-color:rgba(0, 0, 0, 0.7);
	min-width: 15em;
}

#right-and-search-menu.expanded li {
	display: list-item;
	text-align: left;
	font-style: italic;
}

#right-and-search-menu .menu li.expandable span.caption {
	/*text-align: left;*/
	padding-right: 2em;
	font-variant: small-caps;
	font-weight: bold;
	font-style: normal;
	font-size: 115%;
}

#right-and-search-menu.expanded li {
	clear: both;
}

#right-and-search-menu #search-icon,
#right-and-search-menu #slideshow-icon {
	cursor: pointer;
}

#right-and-search-menu {
	cursor: pointer;
}

#right-and-search-menu #menu-icon,
#right-and-search-menu .info-icon {
	width: 1em;
	cursor: pointer;
	float: right;
	text-align: right;
	font-style: normal;
	font-size: 16.5px;
}

#menu-icon,
#search-icon,
#slideshow-icon,
#padlock img,
#right-and-search-menu .info-icon {
	background-color: black;
	opacity: 50%;
	padding: .1em .3em;
}

#menu-icon.expanded, #menu-icon:hover,
#search-icon.expanded, #search-icon:hover,
#slideshow-icon:hover,
#right-and-search-menu .info-icon.expanded,
#right-and-search-menu .info-icon:hover {
	opacity: 100%;
}

#padlock img {
	height: 20px;
}

#right-and-search-menu #menu-icon:hover,
#right-and-search-menu #menu-icon.expanded,
#right-and-search-menu .info-icon:hover,
#right-and-search-menu .info-icon.expanded {
	font-size: 150%;
}

#right-and-search-menu .info-icon {
	font-size: 20px;
	font-weight: bold;
	border: 2px solid white;
	width: unset;
}

a.main-search-link {
	color: lightsalmon;
}

a.main-search-link:hover {
	color: salmon;
}

a.search-link {
	color: orange;
}

a.search-link:hover {
	color: orangered;
}

#right-and-search-menu img#search-button {
	height: 1.7em;
	cursor: pointer;
	position: relative;
	top: 7px;
}

#right-and-search-menu.expanded .selected {
	background-image: url(../img/ic_check_circle_black_24dp_1x.png);
	background-repeat: no-repeat;
	background-position: right;
}

#right-and-search-menu.expanded li li:not(.active) {
	color: gray;
	cursor: default !important;
}

#right-and-search-menu.expanded li li:not(.active):hover {
	color: ligthgray;
}

#right-and-search-menu.expanded li:not(.active, .sub-menu) {
}

#right-and-search-menu li.first-level:not(.expandable):not(.highlighted-menu):hover,
#right-and-search-menu li:not(.expanded) .caption:hover,
#right-and-search-menu li.active:not(.first-level):hover,
#right-and-search-menu #search-icon:hover,
#right-and-search-menu #slideshow-icon:hover,
#right-and-search-menu #menu-icon:hover,
#right-and-search-menu .info-icon:hover,
#right-and-search-menu #padlock img:hover,
#right-and-search-menu #padlock:hover {
	background-color: gray !important;
}

#right-and-search-menu li.highlighted-menu .caption:hover,
#right-and-search-menu ul ul li.active.highlighted-menu:hover {
	background-color: gold !important;
}

#right-and-search-menu.expanded li a,
#right-and-search-menu.expanded li span:not(#padlock):not(#menu-icon):not(.info-icon) {
	display: inline-block;
	width: 100%;
}

#right-and-search-menu.expanded ul li:not(.active):hover {
	/* background-color: black !important; */
}

#right-and-search-menu #padlock img:hover {
	width: 18px;
	height: 23px;
	float: right;
	padding-bottom: 10px;
}

#right-and-search-menu #padlock:hover {
	margin-left: .1em;
	padding-bottom: 0;
}

#right-and-search-menu.expanded ul {
	list-style: none;
	padding-inline-start: 1em;
	margin-block: 0;
}

#right-and-search-menu ul li.download-album.active {
	cursor: pointer;
}

.download-album.red {
	background-color:rgba(255, 0, 0, 0.35);
}

.download-album.red.active {
	background-color:rgba(255, 165, 0, 0.35);
}

.download-album.red:not(.active) {
	font-weight: bold;
}

.download-album.red:not(.active) {
	cursor: auto !important;
}
/* end right menu */

/* from https://www.w3schools.com/css/tryit.asp?filename=trycss_buttons_animate3 */
.button {
	display: inline-block;
	padding: 15px 25px;
	font-size: 24px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	color: #fff;
	background-color: #4CAF50;
	border: none;
	border-radius: 15px;
	box-shadow: 0 9px #999;
}

.button:hover {background-color: #3e8e41}

.button:active {
	background-color: #3e8e41;
	box-shadow: 0 5px #666;
	transform: translateY(4px);
}

#contextual-help table {
	font-size: 14px;
	width: auto;
	margin: 1em auto;
}

#contextual-help table,
#contextual-help th,
#contextual-help td {
	border: 1px solid white;
	border-collapse: collapse;
	padding: 6px;
	font-weight: normal;
}

#contextual-help .table-title{
	font-size: 140%;
	font-weight: bold;
}

#contextual-help th {
	font-weight: bold;
}

#contextual-help td {
	font-style: normal;
}
